h1 {
    text-align: center;
}
div.header {
    position: relative;
    left: 20%;
}
span {
    top: 25px;
    left: 10%;
}
body {
    background-color: white;
}
div.main {
    background: white;
    width: 600px;
    padding: 30px;
    border: 2px solid #cccccc;
    margin: 30px auto;
}
div.join {
    background: lightgray;
    width: 550px;
    margin: 10px auto;
}
div.member {
    background: lightgray;
    margin: 10px auto;
    width: 550px
}
p {
    text-align: center;
}